.rating--wrapper ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2em;
}
.rating--wrapper ul li{
    width: 44px;
    font-weight: 400;
}
.rating--wrapper ul li .rating{
    background: #000;
    color: #fff;
    border-radius: 100%;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}